[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm i -g pnpm && pnpm install --frozen-lockfile"]
cacheDirectories = ["/root/.local/share/pnpm/store", "node_modules/.cache"]

[phases.build]
cmds = ["pnpm build"]
cacheDirectories = [".next/cache"]

[start]
cmd = "node .next/standalone/server.js"
