[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["corepack enable && pnpm install --frozen-lockfile"]
cacheDirectories = ["/root/.local/share/pnpm/store", "node_modules/.cache"]

[phases.build]
cmds = ["pnpm build && cp -r .next/static .next/standalone/.next/static && cp -r public .next/standalone/public"]
cacheDirectories = [".next/cache"]

[start]
cmd = "HOSTNAME=0.0.0.0 PORT=3000 node .next/standalone/server.js"
